/SetupFiles/__pycache__/
__pycache__/
/.idea/
/OCR/Images
/Discord/.env
/Discord/test.env
/Discord/dev.env
/OCR/Images/JPEG
/Backend/OCR/Images
/OCR/Images - Copy
/Discord/DiscordBotLog.txt
/Discord/commands/DiscordBotLog.txt
/Discord/test.env
/Discord/commands/test.env
/Macros/SetupFiles/*.bat
/Macros/OCR/Images
/Macros/OCR/Images - Copy
Macros/OCR/Test Images
Server/.env
Server/.vs
Server/OCR/Images
Server/node_modules
/Macros/.idea
/Server/.idea
/Macros/autoDrop.bat
/Macros/autoDropCalibration.bat
/Macros/autoE.bat
/Macros/autoExit.bat
/Macros/autoW.bat
/Macros/resetSettings.bat
/Discord/.idea/
/.vs/