SetupFiles/__pycache__/
__pycache__/
.idea/
OCR/Images
OCR/.env
Backend/.vs
Backend/node_modules
Backend/package-lock.json	
OCR/Images/JPEG
Backend/.env
Backend/Hapi
Backend/Mongo/.env
Backend/Mongo/.gitignore
Backend/Mongo/.vs