/SetupFiles/__pycache__/
__pycache__/
/.idea/
/OCR/Images
/Discord/.env
/Discord/test.env
/Discord/dev.env
/Backend/package-lock.json	
/OCR/Images/JPEG
/Backend/Mongo/.env
/Backend/Mongo/.gitignore
/Backend/Mongo/.vs
/Backend/Mongo/out.log
/Backend/Mongo/err.log
/Backend/Mongo/combined.log
/Backend/Mongo/package-lock.json
/Backend/Mongo/node_modules
/Backend/Mongo/OCR/Images
/OCR/Images - Copy
/Backend/Mongo/out.log
/Backend/Mongo/err.log
/Discord/DiscordBotLog.txt
/Discord/commands/DiscordBotLog.txt
/Discord/test.env
/Discord/commands/test.env
/Macros/*.bat
/Macros/SetupFiles/*.bat
/Macros/OCR/Images
/Macros/OCR/Images - Copy