extends layout

block content
    h1= title
  
    ul
    table(style='width:100%', border='1')
        tr
        th Alignments
        each val in list_alignments
            tr 
                th 
                    a(href=val.url) #{val.alignment_name}
        else
            tr
                th There are no alignments.