extends layout

block content

  h1 Ally: #{ally.name}
   
  div(style='margin-left:20px;margin-top:20px')

      
  hr
  p
    a(href=ally.url+'/delete') Delete Ally
  p
    a(href=ally.url+'/update') Update Ally
