extends layout

block content

  h1 #{title}: #{enemy.name}

    p Do you really want to delete this Enemy?
    
    form(method='POST' action='')
      div.form-group
        input#serverid.form-control(type='hidden',name='enemyid', required='true', value=enemy._id )

      button.btn.btn-primary(type='submit') Delete