extends layout

block content
    h1= title


    table(style='width:100%', border='1')
        
        tr
            th Clusters 

            each val in list_serverclusters
                tr 
                    th
                        a(href=val.url) #{val.servercluster_name}
      

            else
                tr
                    th There are no server clusters.