<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Ark App</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>

  <body>
    <h1 data-position="header">Ark - Servers</h1>

    <section data-position="add">
      <h2>Add Servers</h2>

      <form action="/AddServers" method="POST">
        <input type="text" placeholder="server_name" name="server_name" />
        <input type="text" placeholder="server_id" name="server_id" />
        <button type="submit">Submit</button>
      </form>
    </section>

    <h1 data-position="header">Ark - Servers</h1>

    <section data-position="logs">
      <h2>Servers</h2>

      <ul class="logs">            
      <table class="logs">
                <tr>
                <th>Server Name</th>
                <th>Server</th>
                </tr>
                
            <% for(var i = 0; i < server_name.length; i++) {%>
                <tr>
                  <th><%= server_name[i].server_name %></th>
                  <th><%= server_id[i].server_id %></th>
                     <form method="POST" action="/DeleteServers">
                        <th><button type="submit" name=server_name  value='<%= server_name[i].server_name%>'> Delete <%= server_name[i].server_name%></button></th>
                    </form>
                </tr>
            <% } %>
           </table>
      </ul>
    </section>

    <script src="/main.js"></script>
  </body>
</html>
